IMAP_USERNAME=your-email@gmail.com
IMAP_PASSWORD=your-app-password
IMAP_RECIPIENT_FILTER=comma-separted-list-of-email-addresses
ELEVENLABS_API_KEY=your-eleven-labs-api-key
OPENAI_API_KEY=your-openai-api-key
